<article class="card" *ngIf="game">
  <img *ngIf="game.thumbnail" [src]="game.thumbnail" [alt]="game.name" />
  <header>
    <h3>{{ game.name }}</h3>
    <small *ngIf="game.year">({{ game.year }})</small>
  </header>

  <ul class="facts">
    <li *ngIf="game.minPlayers">Players: {{ game.minPlayers }}–{{ game.maxPlayers }}</li>
    <li *ngIf="game.playingTime">Time: ~{{ game.playingTime }} min</li>
    <li *ngIf="game.avgRating">Rating: {{ game.avgRating | number:'1.1-2' }}</li>
    <li *ngIf="game.rank">Rank: #{{ game.rank }}</li>
  </ul>
</article>
